<h1>Admin::Dashboard#show</h1>
<div class="card-holder">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"><%= @products %></h2>
      <p class="card-text">products in inventory.</p>
      <%= link_to "Products", [:admin, :products], class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"><%= @categories %></h2>
      <p class="card-text">categories to browse.</p>
      <%# implement this link later %>
      <%= link_to "Categories", [:admin, :categories], class: 'btn btn-primary' %>
    </div>
  </div>
</div>