<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">
    <table class="table table-bordered">
    <% @categories.each do |category|%>
      <thead>
        <tr>
          <th colspan="4"><%= category.name %></th>
          <th><%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></th>
        </tr>
      </thead>
      <tbody>
        <%= render category %>
      </tbody>
      <% end %>
    </table>

  </div>

</section>