// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.card-holder{
  display: flex;
}

.card {
  border: 1px solid #ABABAB;
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
  margin-right: 50px;
  text-align: center;
}

.card-title {
  color: #f3533e;
}